body {
  font-family: Verdana, Arial, Tahoma;
  background-color: black;
  text-align: center;
}

div.header {
  font-weight: normal;
  font-size: 50px;
  color: white;

}

a.download {
  color: Aquamarine;
  font-size: 16px;
}

div.titles {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

div.greytext {
  font-size: 21px;
  color: gray;
}
